#new-formula-modal.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "new-formula-label", :role => "dialog", :tabindex => "-1"}
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
    %h3#new-formula-modal-label= t 'welcome.index.new_formula_label'
  .modal-body

#new-image-modal.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "new-image-label", :role => "dialog", :tabindex => "-1"}
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
    %h3#new-image-modal-label= t 'welcome.index.new_image_label'
  .modal-body